/* Font*/
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font-2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}



/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    margin: 30px auto;
    max-width: 1140px;
}
.logo img{
    height: 82px;

}
.container{
    display: flex;
    align-items: center;
    gap: 30px;
}
.menu{
    display: flex;
    gap: 20px;
}
.cart{
    display: flex;
    align-items: center;
    gap: 5px;
}
/* Banner-section */
.section{
    display: flex;
    margin-left: 9.37rem;
    margin-right: 9.37rem;
    margin-top: 1.25rem;
    align-items:center;
    justify-content: center;
}/* plant-section */
.font-siz{
    font-weight: 800;
    font-size: 3.12rem;
}

.button{
    background-color: #E95A08;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    width: 100%;
    height: 3.12rem;
}

.plant-description{
    text-align: center;
    margin-left: 9.37rem;
    margin-right: 9.37rem;
}


.plant-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    margin-left: 9.37rem;
    margin-right: 9.37rem;
    gap: 1.25rem;
    justify-content: center;
    margin-top: 3.12rem;
    
}/* plant-lover-section */

.plant-lover{
    display: flex;
    gap: 3.75rem;
    margin-top: 12.5rem;
     margin-left: 9.37rem;
    margin-right: 9.37rem;
    position: relative;

}
.img-2{
    width: 33.75rem;
    height: 37.31rem;
}
.box-1{
    width: 33.75rem;
    height: 32.56rem;
}
.box-1 h2{
    font-weight: 800;
   font-size: 3.125rem;
}
.box-1 ul li{
    
    color: #00000098;
    padding-bottom: 0.625rem;
    
}
.img-3{
    position: absolute;
    top: -125px;
    left: 350px;
    width: 17.8rem;
    height: 17.8rem;
}
